.classChoice{
    border: solid green 3px;
}

.actionPlayerSize{
    width: 110px;
    background-repeat: no-repeat;
    padding-left: 30px !important;
}

#game, #createGame{
    color: white;
}

#resume{
    min-height: 50px;
    height: 100px;
    max-height: 150px;

    overflow-y: auto;
}

.pictureMonstre{
    height: 450px;
}